<center>
<table>
	<% 

	var i; for (i=0; i< quizes.length; i++) { console.log(quizes);
		%>
		<tr>
			<td>
				<form method="post" action="/user/<%=session.user.id%>/favourites/<%=quizes[i].id%>?_method=delete">
					<input type="image" src="/images/estrella_amarilla.png" onClick="return confirm('Borrar preferido')" alt="submit" height="25" width="25">
				</form>
			</td>
			<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
		</tr>
	<% } %>
</table>
</center>